<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    <p th:if="${error}" class="alert alert-danger">The Old Password is incorrect</p>
    <form class="card-body p-4" method="post" th:action="@{/changePassword}" >
        <label>Old Password</label>
        <input class="text-muted form-control" th:name="oldPassword"/>
        <label>New Password</label>
        <input class="text-muted form-control" th:name="password" >
        <button type="submit" class="btn btn-primary w-25">Submit</button>
    </form>
</body>
</html>