<div th:fragment="events">
  <div class="container">

    <div>
      <h1>Events</h1>
    </div>

    <div>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>Event Name</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event: ${events}">
          <td th:text="${event.name}"></td>
          <td th:text="${event.date}"></td>
          <td class="d-flex flex-row">

            <form method="post" th:action="@{/updateEvent}">
              <input name="id" th:value="${event.id}" hidden>
              <button type="submit" class="btn btn-primary" value="Update Recipe">Edit</button>
            </form>
            <form method="post" th:action="@{/removeEvent}">
              <input name="id" th:value="${event.id}" hidden>
              <button type="submit" class="btn btn-danger" value="Remove Recipe">Remove</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>