<div th:fragment="favorites">
  <div class="container">

    <div>
      <h1>Favorites</h1>
    </div>

    <div>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>Recipe Name</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="favorite: ${favorites}">
          <td th:text="${favorite.name}"></td>
          <td class="d-flex flex-row">
            <a th:href="@{/recipes/edit/{id}(id=${favorite.id})}" type="button" class="btn btn-sm btn-outline-secondary">view</a>
            <form method="post" th:action="@{/removeFromFavorites}">
              <input name="id" th:value="${favorite.id}" hidden>
              <button type="submit" class="btn btn-danger" value="Remove From Favorites">Remove</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
